.app {
  width: 100%;
  min-height: 100vh;
  background-color: #01010d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #01010d;
}
